<h1 class="titulo-contacto"> Quienes somos</h1>
            <div class="div-video-contacto">
                <video class="video-contacto" controls>
                    <source src="./assets/img/Perfumes.mp4" type="video/mp4">
                </video>
            </div>

            <div class="div-parrafo-contacto">
                <p class="parrafo-contacto">
                    En Tu Perfume, nos enorgullece ser la elección 
                    principal para aquellos que buscan la esencia de la distinción 
                    y la elegancia a través de fragancias excepcionales. Como líder
                    en la industria de los perfumes, hemos dedicado nuestra pasión 
                    a proporcionar una amplia gama de fragancias exquisitas que 
                    reflejan la belleza y el encanto.</p>
                <p class="parrafo-contacto">
                    Nuestro compromiso con la calidad y la autenticidad es 
                    inquebrantable. Trabajamos en estrecha colaboración con 
                    las principales casas de perfumes del mundo para 
                    ofrecer una selección cuidadosamente curada de las 
                    fragancias más exclusivas y reconocidas. Cada perfume 
                    en nuestro catálogo ha sido seleccionado con atención 
                    a los detalles y la artesanía para garantizar que nuestros 
                    clientes experimenten la excelencia en cada gota.
                </p>
            </div>

